@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header, .footer{
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  font-size: 20px;
}

.left-links, .right-links{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer{
  background-color: lightgrey;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  text-align: center;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: grey;
}
